<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <div class="row align-items-start">
                <div class="col">
                    <div class="row-cols">
                        <div class="btn-group" id="service-type-selector">
                            <h1 class="text-primary">Servicios</h1>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col" *ngFor="let servicio of todosServicios">
                    <div class="card">
                        <img src="../../assets/img/placeholder-image.jpg" class="card-img-top" style=" width: 300px;height: 300px;" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{servicio.name}}</h5>
                            <h6 class="card-subtitle">{{servicio.type}}</h6>
                            <p class="card-text">{{servicio.description}}</p>
                            <a routerLink="/service-detail/{{servicio.id}}" class="btn btn-info">More Info</a>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </main>
</div>