<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <div class="row align-items-start">
                <div class="col">
                    <h1>Offered Services</h1>
                </div>
                <div class="col">
                    <div class="row-cols">
                        <div class="btn-group" id="service-type-selector">
                            <a href="service-place" class="btn btn-primary" aria-current="page">Lugares</a>
                            <a href="service-music" class="btn btn-primary">Musica</a>
                            <a href="service-food" class="btn btn-primary active">Alimentos</a>
                        </div>
                    </div>
                </div>
                <div class="col">

                </div>
            </div>

            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card">
                        <img src="../../assets/img/catering-lafuente.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">La Fuente Servicios Catering</h5>
                            <p class="card-text">"Servicio de catering especializado en eventos sociales: sabores excepcionales y presentaciones sorprendentes."</p>
                        </div>
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="../../assets/img/catering-cleverthai.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Cleverthai Catering de Comida Asiatica</h5>
                            <p class="card-text">"Servicio de catering asiático para eventos 
                                sociales: autenticidad en cada bocado, presentaciones sorprendentes."</p>
                        </div>
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="../../assets/img/catering-laVie.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">La Vie Catering</h5>
                            <p class="card-text">"Servicio de catering y meseros profesionales: 
                                atención impecable y delicias gastronómicas para eventos inolvidables."</p>
                        </div>
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="../../assets/img/catering-MoisesC.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Catering Moises Cervantes</h5>
                            <p class="card-text">"Catering y personal de mesa de primera 
                                clase: sabores excepcionales y atención de alto nivel para eventos memorables."</p>
                        </div>
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>