<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <div class="row align-items-start">
                <div class="col">
                    <h1>Offered Services</h1>
                </div>
                <div class="col">
                    <div class="row-cols">
                        <div class="btn-group" id="service-type-selector">
                            <a href="service-place" class="btn btn-primary" aria-current="page">Lugares</a>
                            <a href="service-music" class="btn btn-primary active">Musica</a>
                            <a href="service-food" class="btn btn-primary">Alimentos</a>
                        </div>
                    </div>
                </div>
                <div class="col">

                </div>
            </div>

            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card">
                        <img src="../../assets/img/dj-subterranean.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Subterranean Homesick Alien DJ</h5>
                            <p class="card-text">Un maestro de la mezcla electrificante, fusionando ritmos para 
                                mantener la pista de baile pulsando con energía contagiosa toda la noche.</p>
                        </div>
                        <a href="service-detail" class="stretched-link"></a>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="../../assets/img/dj-giang.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">DJ Giang</h5>
                            <p class="card-text">Un DJ vibrante que mezcla los ritmos más candentes 
                                para mantener la fiesta enérgica y llena de movimiento hasta el amanecer.</p>
                        </div>
                        <a href="service-detail" class="stretched-link"></a>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="../../assets/img/DJ-Jockey.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">DJ Koolio</h5>
                            <p class="card-text">Un DJ vibrante que mezcla los ritmos más
                                 candentes para mantener la fiesta enérgica y llena de movimiento hasta el amanecer.</p>
                        </div>
                        <a href="service-detail" class="stretched-link"></a>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="../../assets/img/dj-tieso.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">DJ Tiëso</h5>
                            <p class="card-text">"Un maestro del sonido que hace que cada canción 
                                se convierta en una experiencia inolvidable, manteniendo a la multitud 
                                en un estado de euforia constante."</p>
                        </div>
                        <a href="service-detail" class="stretched-link"></a>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="../../assets/img/grupo-fiesta.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Grupo Fiesta</h5>
                            <p class="card-text">"Grupo musical especializado en eventos: ritmos irresistibles
                                 y entretenimiento de primera para hacer de cada ocasión una experiencia inolvidable."</p>
                        </div>
                        <a href="service-detail" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>