<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Mis Eventos Recientes</h1>
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-header">
                            Nuevo Evento
                        </div>
                        <div class="card-body">
                            <img src="../../assets/img/add-button.webp" class="card-img-top" alt="...">
                            <a href="#" class="stretched-link" data-bs-toggle="modal" data-bs-target="#new-event-modal"></a>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="new-event-modal" tabindex="-1" aria-labelledby="new-event-modal-label"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="new-event-modal-label">Nuevo Evento</h5>
                                
                            </div>
                            <div class="modal-body">
                                <form class="row g-3" (ngSubmit)="createEvent()">
                                    <div class="col-md-6">
                                        <label for="inputName" class="form-label">Nombre del Evento</label>
                                        <input type="text" name="eventName" class="form-control" placeholder="Bautismo Daniel" [(ngModel)]="newEvent.name"/>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="inputType" class="form-label">Tipo del Evento</label>
                                        <input type="text" name="eventType" class="form-control" placeholder="e.g. Boda" [(ngModel)]="newEvent.type"/>                                                                    
                                    </div>
                                    <div class="col-12">
                                        <label for="inputDate" class="form-label">Date</label>
                                        <input type="date" id="inputDate" name="trip-start"  [(ngModel)]="newEvent.date" />
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" >Save changes</button>
                                    </div>
                                </form>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6" *ngFor="let evento of recientesEventos">
                    <div class="card mb-4">
                        <div class="card-header">
                            {{evento.type}}
                        </div>
                        <img src="../../assets/img/placeholder.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{evento.name}}</h5>
                            <div class="d-grid justify-content-md-end">
                                <a routerLink="event/{{evento.id}}" class="btn btn-secondary">Edit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h1 class="mt-4">Todos mis Eventos</h1>
            <div class="card mb-4">
                <div class="card-body">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Tipo</th>
                                <th>Fecha</th>
                                <th>Costo Actual</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let evento of todosEventos">
                                <th>{{evento.name}}</th>
                                <th>{{evento.type}}</th>
                                <td>{{evento.date | date:'yyyy-MM-dd'}}</td>
                                <th>{{evento.actualCost}}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>

</div>