<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <div class="row align-items-start">
                <div class="col">
                    <h1>Offered Services</h1>
                </div>
                <div class="col">
                    <div class="row-cols">
                        <div class="btn-group" id="service-type-selector">
                            <a href="service-place" class="btn btn-primary active" aria-current="page">Lugares</a>
                            <a href="service-music" class="btn btn-primary">Musica</a>
                            <a href="service-food" class="btn btn-primary">Alimentos</a>
                        </div>
                    </div>
                </div>
                <div class="col">

                </div>
            </div>

            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card">
                        <img src="../../assets/img/salon-hacienda.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Hacienda San José</h5>
                            <p class="card-text">Ha sido escenario de momentos inolvidables, si lo que estás buscando
                                son haciendas en Puebla para eventos, te vas a sorprender.</p>
                        </div>
                        <a href="service-detail" class="stretched-link"></a>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="../../assets/img/salon-coyoacan.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Salon de Eventos Coyoacan</h5>
                            <p class="card-text">Ha sido escenario de momentos inolvidables, si lo que estás buscando
                                son haciendas en Puebla para eventos, te vas a sorprender.</p>
                        </div>
                        <a href="service-detail" class="stretched-link"></a>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="../../assets/img/salon-girasoles.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Salon los Girasoles</h5>
                            <p class="card-text">Ha sido escenario de momentos inolvidables, si lo que estás buscando
                                son haciendas en Puebla para eventos, te vas a sorprender.</p>
                        </div>
                        <a href="service-detail" class="stretched-link"></a>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="../../assets/img/salon-grandia.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Salon Gran Día</h5>
                            <p class="card-text">Ha sido escenario de momentos inolvidables, si lo que estás buscando
                                son haciendas en Puebla para eventos, te vas a sorprender.</p>
                        </div>
                        <a href="service-detail" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>